.assistant-user-list{ border:solid 1px #eee;}
.assistant-user-list > dt{ background-color:#efefef;padding:5px 10px}
.assistant-user-list > dd{ padding:10px; padding-left:30px}
.assistant-user-list > dd > dl{ border-bottom:solid 1px #eee; padding:5px 0}
.assistant-user-list > dd > dl > dt{ display:inline-block;float:left;white-space:nowrap;width:100px}
.assistant-user-list > dd > dl > dd{ margin-left:100px;}
.assistant-user-list > dd > dl > dd > label{ padding-right:10px}

#Hui-nav > ul > li{ font-weight:normal}
@media (max-width: 767px) {
	#Hui-nav{display: block; top: 0; left: 65px; right: 65px}
	#Hui-nav > ul { width: 100%}
	#Hui-nav > ul > li{ width: 24%;text-align:center;}
	#Hui-nav > ul > li a{ text-align: center; padding: 0}
}
#Hui-userbar{right:20px}
#Hui-userbar > ul > li > a{padding:0 10px}
#Hui-msg .badge{ position:absolute; left:2px; top:4px; font-size:12px; font-weight:normal; padding:1px 5px}
